.djorganizechd {
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
    opacity: 0;
    transition: opacity 0.75s ease-in;
  }
  
  .djorganizechd.animate {
    opacity: 1;
  }
  
  .djorganizechd h2 {
    color: #000; /* 黒文字（グレースケール） */
    text-align: center;
  }
  
  .djorganizechd p {
    color: #000;
    font-size: 1rem;
  }