.App {
  display: flex;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100vh;
  background: #fff;
}

.content {
  margin-left: 220px;
  padding: 2rem;
  width: calc(100% - 220px);
  min-height: 100vh;
  position: relative;
  z-index: 1;
}